body {
  margin: 0;
  background-color: black;
  font-family: "Google Sans", sans-serif;
}

input,
select {
  font-family: inherit;
}

.currency-exchange {
  display: flex;
  align-items: center;
}

.photo-side,
.info-side {
  width: 50vw;
  height: 100%;
  overflow: hidden;
}

.photo-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 6rem;
  line-height: 35px;
  color: white;
  text-shadow:
    0 2px 4px rgba(0, 0, 0, 0.6),
    0 -1px 3px rgba(255, 255, 255, 0.5);
}

.h1-converter-lettering {
  font-size: 3rem;
  margin-left: 8px;
}

h1 span {
  color: #718368;
}

label {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

small {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(148, 148, 148, 1);
}

.field-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.field-control,
#from-currency {
  padding: 16px;
  margin-bottom: 5px;
  background-color: rgba(25, 25, 25, 1);
  color: rgba(212, 212, 212, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  border: none;
  border-radius: 8px;
}

#number-input {
  flex: 1;
}

.input-field {
  display: flex;
  flex-direction: column;
}

#from-currency {
  width: 100px;
}

#to-currency {
  width: 320px;
}

input {
  margin-bottom: 5px;
}

.to-currency-label {
  margin-top: 35px;
}

#convert-btn {
  margin-top: 35px;
  border: none;
  padding: 15px 45px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
}

#convert-btn:hover {
  cursor: pointer;
}

/* PANAIKINTI RODYKLELES IMPUT  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
